body {
    background: #70161E;
    color: #CBEB00;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #434371;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #CC3F0C;
}

/* main container area beneath menu */
main {
    background: #BDBA97;
    display: flex;
    margin-top: 16px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(26, 55, 18) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}